body{
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
}


  .btn,.drawer { margin-bottom:10px; }
  .drawer { text-align: center; }
  h1.lead { border-bottom: 1px dotted #ccc; margin-bottom: 30px; }
  h4.lead { margin-bottom:10px; }
  #icon_map ul li { font-size: 16px; }
  .smallify { font-size: 13px; }

footer {
    
    width: 100%;
    position: fixed;
    bottom: 0px;
    color: white;
    text-align: center;
    background: #4a4d50;

}

div.bordure {
	border-bottom:1px solid #6D6E6E;
}
.choixlist:hover{    
	background-color:#CDD4F2;
	
}
.choixlist:active{    
	
	background-color:white;
}

.bold {
	font-weight:bold;

}

#div_carte { 
height : 300px; /* IMPERATIF */ 
width : 300px; 
margin : auto; 
border : 1px solid #888; 
} 

/*=====================================================
 Navigation (with dropdowns)
 ======================================================*/
#navacceuil { width: 100%; display: block; margin-bottom: 20px; background-image: url('../images/backgroundsponge.jpg'); }
@media only screen and (max-width: 767px) { #navacceuil { position: relative; border: none; }
  #navacceuil .column, #navacceuil .columns { min-height: 0; } }
#navacceuil.fixed { top: 0; left: 0; z-index: 99999; }
#navacceuil a.toggle { display: none; }
@media only screen and (max-width: 767px) { #navacceuil a.toggle { top: 18%; right: 4%; width: 46px; position: absolute; text-align: center; display: inline-block; color: white; background: #4a4d50; height: 40px; line-height: 38px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; font-size: 30px; font-size: 1.875rem; }
  #navacceuil a.toggle:hover { background: #565a5d; }
  #navacceuil a.toggle:active, #navacceuil a.toggle.active { background: #3e4043; } }
#navacceuil .logo { display: inline-block; margin: 0 2.12766% 0 0; padding: 0; height: 60px; line-height: 58px; }
#navacceuil .logo a { display: block; padding: 0 0 0 16px; overflow: hidden; height: 60px; line-height: 58px; }
@media only screen and (max-width: 767px) { #navacceuil .logo { float: left; display: inline; }
  #navacceuil .logo a { padding: 0; }
  #navacceuil .logo a img { width: auto; max-width: 100%; } }
#navacceuil ul { display: table; vertical-align: middle; margin: 0; float: none; }
@media only screen and (max-width: 767px) { #navacceuil ul { position: absolute; display: block; width: 100% !important; height: 0; max-height: 0; top: 60px; left: 0; overflow: hidden; text-align: center; background: #3e4043; }
  #navacceuil ul.active { height: auto; max-height: 600px; z-index: 999999; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-box-shadow: 0 2px 2px #252728; -moz-box-shadow: 0 2px 2px #252728; box-shadow: 0 2px 2px #252728; } }
#navacceuil ul li { display: table-cell; text-align: center; padding-bottom: 0; margin: 0; height: 60px; line-height: 58px; }
@media only screen and (max-width: 767px) { #navacceuil ul li { display: block; position: relative; min-height: 60px; max-height: 320px; height: auto; width: 100%; border-right: 0 !important; -webkit-box-shadow: none; box-shadow: none; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; } }
#navacceuil ul li > a { display: block; padding: 0 16px; white-space: nowrap; color: white; text-shadow: 0 1px 2px #191a1b, 0 1px 0 #191a1b; height: 60px; line-height: 58px; font-size: 16px; font-size: 1rem; }
#navacceuil ul li .btn { border-color: #000101 !important; }
#navacceuil ul li.field { margin-bottom: 0 !important; margin-right: 0; }
@media only screen and (max-width: 767px) { #navacceuil ul li.field { padding: 0 20px; } }
#navacceuil ul li.field input.search { background: #191a1b; border: none; color: #f2f2f2; }
#navacceuil ul li:hover > a { position: relative; background: #868d92; z-index: 1000; }
#navacceuil ul li .dropdown { width: auto; min-width: 0px; max-width: 320px; height: 0; position: absolute; background: #fafafa; overflow: hidden; z-index: 999; }
#navacceuil ul li:hover .dropdown { min-height: 60px; max-height: 561px; overflow: visible; height: auto; width: 100%; padding: 0; border-top: 1px solid #3e4043; -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); }
@media only screen and (max-width: 767px) { #navacceuil ul li .dropdown { width: 100%; max-width: 100%; position: relative; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
  #navacceuil ul li:hover .dropdown { border-bottom: 1px solid #313436; }
  #navacceuil ul li:hover .dropdown ul { position: relative; top: 0; background: #36393b; min-height: 60px; max-height: 250px; height: auto; overflow: scroll; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
  #navacceuil ul li:hover .dropdown ul li { min-height: 50px; border-bottom: #3e4043; }
  #navacceuil ul li:hover .dropdown ul li a { color: white; border-bottom: 1px solid #313436; }
  #navacceuil ul li:hover .dropdown ul li a:hover { color: #d04526; } }
@media only screen and (min-width: 768px) and (max-width: 939px) { #navacceuil > ul > li > .btn a { padding: 0 10px 0 10px !important; }
  #navacceuil ul > li .dropdown ul li:hover .dropdown { left: -320px; } }

/**** Navbar positioning for Microsoft's browser who deserves not to be mentioned ****/
.ie7 #navacceuil > ul { width: auto; }

.ie7 #navacceuil, .ie7 #navacceuil > ul > li > a { display: block; }

.ie7 #navacceuil .logo, .ie7 #navacceuil ul, .ie7 #navacceuil ul li { float: left; display: inline-block; }

.ie7 #navacceuil .logo a { display: block; overflow: hidden; }

.ie7 #navacceuil > ul > li .field { display: block; padding: 12px 18px 0; width: 80%; }

.pretty#navacceuil { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b8085), color-stop(100%, #313436)); background-image: -webkit-linear-gradient(#7b8085, #313436); background-image: -moz-linear-gradient(#7b8085, #313436); background-image: -o-linear-gradient(#7b8085, #313436); background-image: linear-gradient(#7b8085, #313436); -webkit-box-shadow: inset 0 1px 1px #7b8085, 0 1px 2px rgba(0, 0, 0, 0.8) !important; /* Remove this line if you dont want a dropshadow on your navigation*/ box-shadow: inset 0 1px 1px #7b8085, 0 1px 2px rgba(0, 0, 0, 0.8) !important; /* Remove this line if you dont want a dropshadow on your navigation*/ }
@media only screen and (max-width: 767px) { .pretty#navacceuil a.toggle { border: 1px solid #3e4043; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7b8085), color-stop(100%, #4a4d50)); background-image: -webkit-linear-gradient(#7b8085, #4a4d50); background-image: -moz-linear-gradient(#7b8085, #4a4d50); background-image: -o-linear-gradient(#7b8085, #4a4d50); background-image: linear-gradient(#7b8085, #4a4d50); -webkit-box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; -moz-box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; box-shadow: inset 0 1px 2px #888d91, inset 0 -1px 1px #565a5d, inset 1px 0 1px #565a5d, inset -1px 0 1px #565a5d, 0 1px 1px #63676a; }
  .pretty#navacceuil a.toggle i { text-shadow: 0 1px 1px #191a1b; }
  .pretty#navacceuil a.toggle:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888d91), color-stop(100%, #565a5d)); background-image: -webkit-linear-gradient(#888d91, #565a5d); background-image: -moz-linear-gradient(#888d91, #565a5d); background-image: -o-linear-gradient(#888d91, #565a5d); background-image: linear-gradient(#888d91, #565a5d); }
  .pretty#navacceuil a.toggle:active, .pretty#navacceuil a.toggle.active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e4043), color-stop(100%, #4a4d50)); background-image: -webkit-linear-gradient(#3e4043, #4a4d50); background-image: -moz-linear-gradient(#3e4043, #4a4d50); background-image: -o-linear-gradient(#3e4043, #4a4d50); background-image: linear-gradient(#3e4043, #4a4d50); -webkit-box-shadow: 0 1px 1px #63676a; -moz-box-shadow: 0 1px 1px #63676a; box-shadow: 0 1px 1px #63676a; } }
.pretty#navacceuil.row { border-radius: 4px; }
@media only screen and (max-width: 767px) { .pretty#navacceuil.row { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; } }
.pretty#navacceuil ul li.field input.search { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #191a1b), color-stop(100%, #4f5255)); background-image: -webkit-linear-gradient(#191a1b, #4f5255); background-image: -moz-linear-gradient(#191a1b, #4f5255); background-image: -o-linear-gradient(#191a1b, #4f5255); background-image: linear-gradient(#191a1b, #4f5255); border: none; box-shadow: 0 1px 2px #888d91 !important; /* Remove this line if you dont want a dropshadow on your navigation*/ }
.pretty#navacceuil> ul > li:first-child, .pretty#navacceuil .pretty#navacceuil > ul > li:first-child a:hover { box-shadow: none; }

#navacceuil li .dropdown ul { margin: 0; }
#navacceuil li .dropdown ul > li { position: relative; display: block; width: 100%; float: left; text-align: left; height: auto; border-radius: none; }
@media only screen and (min-width: 768px) and (max-width: 939px) { #navacceuil li .dropdown ul > li { max-width: 320px; word-wrap: break-word; } }
#navacceuil li .dropdown ul > li a { display: block; padding: 0 20px; color: #d04526; border-bottom: 1px solid #cccccc; text-shadow: none; height: 51px; line-height: 49px; }
@media only screen and (max-width: 767px) { #navacceuil li .dropdown ul > li a { padding: 0 20px; } }
#navacceuil li .dropdown ul > li .dropdown { display: none; background: white; }
#navacceuil li .dropdown ul > li:hover .dropdown { border-top: none; display: block; position: absolute; z-index: 9999; left: 320px; top: 0px; margin-top: 0; }
@media only screen and (max-width: 767px) { .navbar li .dropdown ul > li:hover .dropdown { position: relative; left: 0; }
  #navacceuil li .dropdown ul > li:hover .dropdown ul { background: #252728 !important; } }
#navacceuil li .dropdown ul li:first-child a { border-radius: 0; }
#navacceuil li .dropdown ul li a:hover { background: #f2f2f2; }


